.nav-icon{
  height: 45px;  
}

.apix-logo{
  padding: 4px;
  padding-right: 1rem; 
  margin-right: 1rem; 
  border-right: 1px solid white;
}

.canvas-bg{
  background-color: #222222;
  height: 100%;
  padding: 2rem;
}

.content-bg{
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px; 
  font-family: 'Poppins', sans-serif;
}

.progress-circle{
  width: 4rem;
  height: 4rem;
  border: 2px solid #ddd;
  border-radius: 1000px;
  color: #ddd;
  padding: 1rem;
}

.progress-circle-active{
  width: 4rem;
  height: 4rem;
  border: 2px solid #00aced;
  border-radius: 1000px;
  color: #00aced;
  padding: 1rem;
}

.span-number{
  font-size: 20px;
}

.progress-tracker{
  width: 7rem;
  height: 0rem;
  margin-top: 2rem;
  margin-bottom: 2rem; 
  border: 2px solid #ddd;
}

.progress-tracker-active{
  width: 7rem;
  height: 0rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid #00aced;
}

.page-heading{
  margin-top: 2rem;
}

.title{
  margin-top: 2rem;
  font-weight: 600;
}

.text-description{
  margin-top: 1rem;
}

.steps-custom{
  margin-top: 3rem !important;
  margin-bottom: 1rem !important;
}

.form{
  margin-top: 2rem; 
}

.upload{
  float: left;
}

.input-button{
  background-color: #00aced;
  color: white;
  padding: 7px 50px;
  border: 1px solid #00aced;
  border-radius: 100px;
  margin-top: 1rem;
}

.input-button:hover{
  border: 1px solid #00aced;
  background-color: #00000000;
  color: #00aced;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.row{
  margin: 0;
  padding: 0;  
}

.text-description{
  font-weight: 600;
}

.steps{
  margin-left: 34rem;
  font-size: 1rem;
  color: orange;
  font-weight: bold;
}

.form-field{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.cancel{
  height: 15px;
  margin-left: 2rem;
}

.cancel:hover{
  cursor: pointer;
}

.field{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.label-title{
  font-weight: 600;
}