.nav-icon{
  height: 45px;  
}

.apix-logo{
  padding: 4px;
  padding-right: 1rem; 
  margin-right: 1rem; 
  border-right: 1px solid white;
}

.canvas-bg{
  background-color: #222222;
  height: 100vh;
  padding: 2rem;
}

.content-bg{
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px; 
  font-family: 'Poppins', sans-serif;
}

.progress-circle{
  width: 4rem;
  height: 4rem;
  border: 2px solid #ddd;
  border-radius: 1000px;
  color: #ddd;
  padding: 1rem;
}

.progress-circle-active{
  width: 4rem;
  height: 4rem;
  border: 2px solid #e50000;
  border-radius: 1000px;
  color: #e50000;
  padding: 1rem;
}

.span-number{
  font-size: 20px;
  font-weight: 600;
}

.progress-tracker{
  width: 7rem;
  height: 0rem;
  margin-top: 2rem;
  margin-bottom: 2rem; 
  border: 2px solid #ddd;
}

.progress-tracker-active{
  width: 7rem;
  height: 0rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid #e50000;
}

.page-heading{
  margin-top: 2rem;
}

.title{
  font-weight: 600;
}

.text-description{
  margin-top: 1rem;
}

.steps-custom{
  margin-top: 3rem !important;
  margin-bottom: 1rem !important;
}

.form{
  margin-top: 2rem; 
}

.upload{
  float: left;
}

.input-button{
  background-color: #e50000;
  color: white;
  padding: 7px 50px;
  border: 1px solid #e50000;
  border-radius: 100px;
  margin-top: 1rem;
}

.input-button:hover{
  border: 1px solid #e50000;
  background-color: #00000000;
  color: #e50000;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.row{
  margin: 0;
  padding: 0;  
}

.text-description{
  font-weight: 600;
}

.steps{
  margin-left: 34rem;
  font-size: 1rem;
  color: orange;
  font-weight: bold;
}

.verified-text{
  color: #66E82E;
  margin-top: 1.2rem;
  font-weight: bold;
}